
@{
    ViewBag.Title = "_HomePageLayout";
}

<!DOCTYPE html>
<html lang="en">
   <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Leder</title>
    <link rel="stylesheet" href="~/Assets/css/bootstrap.css" />
    <!-- Font awesome -->
    <link href="~/Assets/css/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/Assets/css/bootstrap.css" rel="stylesheet">
    <!-- SmartMenus jQuery Bootstrap Addon CSS -->
    <link href="~/Assets/css/jquery.smartmenus.bootstrap.css" rel="stylesheet">
    <!-- Product view slider -->
    <link rel="stylesheet" type="text/css" href="~/Assets/css/jquery.simpleLens.css">
    <!-- slick slider -->
    <link rel="stylesheet" type="text/css" href="~/Assets/css/slick.css">
    <!-- price picker slider -->
    <link rel="stylesheet" type="text/css" href="~/Assets/css/nouislider.css">
    <!-- Theme color -->
    <!-- <link id="switcher" href="css/theme-color/dark-red-theme.css" rel="stylesheet"> -->
    <!-- <link id="switcher" href="css/theme-color/bridge-theme.css" rel="stylesheet"> -->
    <!-- Top Slider CSS -->
    <link href="~/Assets/css/sequence-theme.modern-slide-in.css" rel="stylesheet" media="all">

    <!-- Main style sheet 更改成scss自動生成-->
    <link href="~/Assets/css/scss/style.css" rel="stylesheet">

    <!-- Google Font 引用字型 在base/_variables.scss設定 -->
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet" type='text/css'>

    <!-- Font-awesome圖案-->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    @RenderSection("topCSS", required: false)
    @RenderSection("topJS", required: false)



</head>
   <body>
       @Html.Partial("_NavbarPartial")
       <div class="">
           <main role="main" class="">
               @RenderBody()
           </main>
       </div>

       @Html.Partial("_FooterPartial")

       <script src="~/Scripts/jquery-3.3.1.min.js"></script>
       <script type="text/javascript">
        //網頁載入完成時執行
        $(document).ready(function () {
            console.log("ready!");
        });
        //加入編號為productId的商品進購物車
        function AddToCart(productId) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddToCart","ShoppingCart")',
                data: {id:productId}
            })
                .done(function (msg){
                //將回傳的購物車頁面填入 CartLayout#Cart
                    $('CartLayout#Cart').html(msg);
                    window.location.reload();
            });
        }
       </script>
       @RenderSection("Scripts", required: false)

       @RenderSection("endCSS", required: false)
       @RenderSection("endJS", required: false)

       <!-- jQuery library -->
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
       <!-- Include all compiled plugins (below), or include individual files as needed -->
       <script src="~/Assets/js/bootstrap.js"></script>
       <!-- SmartMenus jQuery plugin -->
       <script type="text/javascript" src="~/Assets/js/jquery.smartmenus.js"></script>
       <!-- SmartMenus jQuery Bootstrap Addon -->
       <script type="text/javascript" src="~/Assets/js/jquery.smartmenus.bootstrap.js"></script>
       <!-- To Slider JS -->
       <script src="~/Assets/js/sequence.js"></script>
       <script src="~/Assets/js/sequence-theme.modern-slide-in.js"></script>
       <!-- Product view slider -->
       <script type="text/javascript" src="~/Assets/js/jquery.simpleGallery.js"></script>
       <script type="text/javascript" src="~/Assets/js/jquery.simpleLens.js"></script>
       <!-- slick slider -->
       <script type="text/javascript" src="~/Assets/js/slick.js"></script>
       <!-- Price picker slider -->
       <script type="text/javascript" src="~/Assets/js/nouislider.js"></script>
       <!-- Custom js -->
       <script src="~/Assets/js/custom.js"></script>
   </body>
</html>


