<!DOCTYPE html>
<html lang="zh-hant" style="scroll-behavior: smooth;">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153868167-1"></script>
    <script type="text/javascript" src="~/Scripts/gtag.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leder Shop</title>

    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!-- Font awesome -->
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <!-- SmartMenus jQuery Bootstrap Addon CSS -->
    <link href="~/Content/jquery.smartmenus.bootstrap.css" rel="stylesheet" />
    <!-- Product view slider -->
    <link href="~/Content/jquery.simpleLens.css" rel="stylesheet" />
    <!-- slick slider -->
    <link href="~/Content/slick.css" rel="stylesheet" />
    <!-- price picker slider -->
    <link href="~/Content/nouislider.css" rel="stylesheet" />
    <!-- Top Slider CSS -->
    <link href="~/Content/sequence-theme.modern-slide-in.css" rel="stylesheet" media="all" />

    <!-- Main style sheet 更改成scss自動生成-->
    <link href="~/Assets/css/style.css" rel="stylesheet">
    <!-- Google Font 引用字型 在base/_variables.scss設定 -->
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet" type='text/css'>

    <!-- Font-awesome圖案-->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    @RenderSection("Styles", required: false)
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
    @Html.Partial("_NavbarPartial")
    <div class="">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    @Html.Partial("_FooterPartial")

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/bootstrap.js"></script>
    <!-- SmartMenus jQuery plugin -->
    <script src="~/Scripts/jquery.smartmenus.js"></script>
    <!-- SmartMenus jQuery Bootstrap Addon -->
    <script src="~/Scripts/jquery.smartmenus.bootstrap.js"></script>
    <!-- To Slider JS -->
    <script src="~/Scripts/sequence.js"></script>
    <script src="~/Scripts/sequence-theme.modern-slide-in.js"></script>
    <!-- Product view slider -->
    <script src="~/Scripts/jquery.simpleGallery.js"></script>
    <script src="~/Scripts/jquery.simpleLens.js"></script>
    <!-- slick slider -->
    <script src="~/Scripts/slick.js"></script>
    <!-- Price picker slider -->
    <script src="~/Scripts/nouislider.js"></script>
    <!-- Custom Script js -->
    <script src="~/Assets/js/script.js"></script>
    <!--購物車的JavaScripts -->
    <script src="~/Assets/js/ShoppingCartFunction.js"></script>
    <!--QuickView的JavaScripts -->
    <script src="~/Assets/js/QuickViewPartial.js"></script>

    @RenderSection("Scripts", required: false)


</body>
</html>



