@using Microsoft.AspNet.Identity
<!-- Start header section -->
<header id="aa-header">
    <!-- start header top  -->
    <div class="aa-header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-header-top-area">

                        <!-- / header top right -->
                        <div class="aa-header-top-right">
                            <ul class="aa-head-top-nav-right">

                                <li class="hidden-xs"><a href="wishlist.html">Wishlist</a></li>
                                <li class="hidden-xs"><a href="~/Index">My Cart</a>
                                </li>
                                <li class="hidden-xs"><a href="checkout.html">Checkout</a></li>
                                @if (Request.IsAuthenticated)

                                {
                                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <li>
                                            @Html.ActionLink("您好 " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                                        </li>
                                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

                                    }
                                }
                                else
                                {
                                    <li>@Html.ActionLink("Register", "Register", "Account")</li>
                                    <li>@Html.ActionLink("Login", "Login", "Account")</li>

                                }

                                
                                <li class="hidden-xs"><a href="#">Wishlist</a></li>
                                <li class="hidden-xs"><a href="~/ShoppingCart">My Cart</a></li>
                                <li class="hidden-xs"><a href="~/Checkout">Checkout</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / header top  -->
    <!-- start header bottom  -->
    <div class="aa-header-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-header-bottom-area">
                        <!-- logo  -->
                        <div class="aa-logo">
                            <!-- Text based logo -->
                            <a href="index.html">
                                <span class="fa fa-shopping-bag"></span>
                                <p>Leder<strong>里德皮件店</strong> <span>Your best Leather Partner</span></p>
                            </a>
                            <!-- img based logo -->
                            <!-- <a href="index.html"><img src="img/logo.jpg" alt="logo img"></a> -->
                        </div>
                        <!-- / logo  -->
                        <!-- cart box -->
                        <div id="CartLayout">
                            @Html.Partial("_CartPartial")
                        </div>
                        <!--/ cart box -->
                        <!-- search box -->
                        <div class="aa-search-box">
                            <form action="">
                                <input type="text" name="" id="" placeholder="Search here ex. 'man' ">
                                <button type="submit"><span class="fa fa-search"></span></button>
                            </form>
                        </div>
                        <!-- / search box -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / header bottom  -->
</header>
<!-- / header section -->
<!-- menu -->
<section id="menu">
    <div class="container">
        <div class="menu-area">
            <!-- Navbar -->
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <!-- Left nav -->
                    <ul class="nav navbar-nav">
                        <li><a href="index.html">Home</a></li>
                        <li>
                            <a href="#">季節性活動<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Christmas 2019</a></li>
                                <li><a href="#">New Year 2020</a></li>
                                <li>
                                    <a href="#">And more.. <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Promotions 1</a></li>
                                        <li><a href="#">Promotions 2</a></li>
                                        <li><a href="#">Promotions 3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">托特包<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Totebag</a></li>
                                <li><a href="#">Totebag</a></li>
                                <li><a href="#">Totebag</a></li>
                                <li>
                                    <a href="#">And more.. <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Totebag 1</a></li>
                                        <li><a href="#">Totebag 2</a></li>
                                        <li><a href="#">Totebag 3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">後背包<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Backpack</a></li>
                                <li><a href="#">Backpack</a></li>
                                <li><a href="#">Backpack</a></li>
                                <li>
                                    <a href="#">And more.. <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Backpack 1</a></li>
                                        <li><a href="#">Backpack 2</a></li>
                                        <li><a href="#">Backpack 3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">長夾<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Longclip</a></li>
                                <li><a href="#">Longclip</a></li>
                                <li><a href="#">Longclip</a></li>
                                <li>
                                    <a href="#">And more.. <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Longclip 1</a></li>
                                        <li><a href="#">Longclip 2</a></li>
                                        <li><a href="#">Longclip 3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">零錢包<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Coinwallet</a></li>
                                <li><a href="#">Coinwallet</a></li>
                                <li><a href="#">Coinwallet</a></li>
                                <li>
                                    <a href="#">And more.. <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Coinwallet 1</a></li>
                                        <li><a href="#">Coinwallet 2</a></li>
                                        <li><a href="#">Coinwallet 3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">名片夾<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Namecard</a></li>
                                <li><a href="#">Namecard</a></li>
                                <li><a href="#">Namecardt</a></li>
                                <li>
                                    <a href="#">And more.. <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Namecard 1</a></li>
                                        <li><a href="#">Namecard 2</a></li>
                                        <li><a href="#">Namecard 3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>                        
                        <li><a href="#">關於里德</a></li>
                        <li>
                            <a href="blog-archive.html">專欄文章<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="blog-archive.html">Blog Style 1</a></li>
                                <li><a href="blog-archive-2.html">Blog Style 2</a></li>
                                <li><a href="blog-single.html">Blog Single</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">聯絡我們</a></li>
                        <li>
                            <a href="#">Pages <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Shop Page</a></li>
                                <li><a href="#">Shop Page</a></li>
                                <li><a href="#">Shop Page</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
</section>
<!-- / menu -->
