@using Microsoft.AspNet.Identity
<!-- Start header section -->
<header id="aa-header">
    <!-- start header top  -->
    <div class="aa-header-top">

        <div class="container mt-5" style="width:1600px;height:50px;margin-top:30px">

            <div class="menu-area W-100 H-100">
                <div class="navbar navbar-default" role="navigation" style="border:none">
                    <div class="navbar-collapse collapse" style="width:100%;background-color:#FFFFFF;">

                        <ul class="nav navbar-nav">
                            <li class="aa-logo">
                                <span style="margin-right:20px">
                                    <!-- Text based logo -->
                                    <a href="~/Home/Index">
                                        <span class="fa fa-shopping-bag" style="font-size: 32px"></span>
                                        <p>Leder<strong>里德皮件店</strong> <span>Your best Leather Partner</span></p>
                                    </a>
                                </span>
                                <!-- img based logo -->
                                <!-- <a href="index.html"><img src="img/logo.jpg" alt="logo img"></a> -->
                            </li>
                            <li><a href="~/Home/Index">Home</a></li>
                            <li class="dropdown">
                                <a href="#">季節性活動<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Christmas 2019</a></li>
                                    <li><a href="#">New Year 2020</a></li>
                                    <li>
                                        <a href="#">And more.. <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Promotions 1</a></li>
                                            <li><a href="#">Promotions 2</a></li>
                                            <li><a href="#">Promotions 3</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="~/Product/Index">皮革商品<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="~/Product/Index">側背包</a></li>
                                    <li><a href="~/Product/Backpack">後背包</a></li>
                                    <li><a href="~/Product/Longclip">長夾</a></li>
                                    <li><a href="~/Product/Coinwallet">零錢包</a></li>
                                    <li><a href="~/Product/Namecard">名片夾</a></li>
                                </ul>
                            </li>

                            <li><a href="#">關於里德</a></li>
                            <li>
                                <a href="#">專欄文章<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="blog-archive.html">Blog Style 1</a></li>
                                    <li><a href="blog-archive-2.html">Blog Style 2</a></li>
                                    <li><a href="blog-single.html">Blog Single</a></li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("聯絡里德", "#")</li>



                            @if (Request.IsAuthenticated)

                            {
                                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <li>
                                        @Html.ActionLink("您好 " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                                    </li>
                                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

                                }
                            }
                            else
                            {
                                <li>@Html.ActionLink("Register", "Register", "Account")</li>
                                <li>@Html.ActionLink("Login", "Login", "Account")</li>

                            }


                            <li><a href="~/Checkout">Checkout</a></li>
                            <li><span id="CartLayout">@Html.Partial("_CartPartial")</span></li>
                            @*<li id="CartLayout">@Html.Partial("_CartPartial")</li>*@

                        </ul>


                    </div>
                    </div>

                </div>
            </div>
        </div>
    
    <!-- / header top  -->
    
</header>
<!-- / header section -->

