@using Leder.ViewModels;


@{
    var promoteProductsData = (List<PromoteProductViewModel>)ViewData["promoteProductsData"];
    var section1 = promoteProductsData.Where(x => x.Section == "Promo section 1");
    var section2one = promoteProductsData.Where(x => x.Section == "Promo section 2 one");
    var section2four = promoteProductsData.Where(x => x.Section == "Promo section 2 four");
    var section3four = promoteProductsData.Where(x => x.Section == "Promo section 3 four");
    var section3one = promoteProductsData.Where(x => x.Section == "Promo section 3 one");

}


<!-- Start Promo section1 -->
<section id="aa-promo">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-promo-area">
                    <div class="row">

                        @foreach (var item in section1)
                        {
                            <div class="col-md-6">
                                <div class="aa-promo-left">
                                    <div class="aa-promo-banner">
                                        <img src="@item.PhotoUrl" alt="@item.ProductName">
                                        <div class="aa-prom-content">
                                            <span>@item.DiscountWord</span>
                                            <h4><a href="#">@item.Statement</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Promo section1 -->
<!-- Start Promo section2 -->
<section id="aa-promo">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-promo-area">
                    <div class="row">

                        <!-- promo 1 product -->
                        @foreach (var item in section2one)
                        {
                            <div class="col-md-5">
                                <div class="aa-promo-left">
                                    <div class="aa-promo-banner">
                                        <img src=@item.PhotoUrl alt=@item.ProductName>
                                        <div class="aa-prom-content">
                                            <span>@item.DiscountWord</span>
                                            <h4><a href="#">@item.Statement</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <!-- / promo 1 product-->

                        <!-- promo 4 products-->
                        <div class="col-md-7">
                            <div class="aa-promo-right">
                                @foreach (var item in section2four)
                                {
                                    <div class="aa-single-promo-right">
                                        <div class="aa-promo-banner">
                                            <img src=@item.PhotoUrl alt=@item.ProductName>
                                            <div class="aa-prom-content">
                                                <span>@item.DiscountWord</span>
                                                <h4><a href="#">@item.Statement</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                        <!-- / promo 4 products -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Promo section2 -->

<!-- Start Promo section3 -->
<section id="aa-promo">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-promo-area">
                    <div class="row">

                        <!-- promo 4 products-->
                        <div class="col-md-7">
                            <div class="aa-promo-right">
                                @foreach (var item in section3four)
                                {
                                    <div class="aa-single-promo-right">
                                        <div class="aa-promo-banner">
                                            <img src=@item.PhotoUrl alt=@item.ProductName>
                                            <div class="aa-prom-content">
                                                <span>@item.DiscountWord</span>
                                                <h4><a href="#">@item.Statement</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                        <!-- / promo 4 products -->
                        <!-- promo 1 product -->
                        @foreach (var item in section3one)
                        {
                            <div class="col-md-5">
                                <div class="aa-promo-left">
                                    <div class="aa-promo-banner">
                                        <img src=@item.PhotoUrl alt=@item.ProductName>
                                        <div class="aa-prom-content">
                                            <span>@item.DiscountWord</span>
                                            <h4><a href="#">@item.Statement</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <!-- / promo 1 product-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Promo section3 -->
