@model List<HomePartialViewModel>

@*@{ 
    var PS1L = Model.Where(x => x.Section = )

}*@


<!-- Start Promo section1 -->
<section id="aa-promo">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-promo-area">
                    <div class="row">
                        <!-- promo left -->
                        <div class="@Model[0].ClassSize">
                            <div class="aa-promo-left">
                                <div class="aa-promo-banner">
                                    <img src="@Model[0].PhotoUrl" alt="@Model[0].ProductName">
                                    <div class="aa-prom-content">
                                        <span>15% Off</span>
                                        <h4><a href="#">@Model[0].Statement</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- promo right -->
                        <div class="@Model[1].ClassSize">
                            <div class="aa-promo-left">
                                <div class="aa-promo-banner">
                                    <img src="@Model[1].PhotoUrl" alt="@Model[1].ProductName">
                                    <div class="aa-prom-content">
                                        <span>15% Off</span>
                                        <h4><a href="#">@Model[1].Statement</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Promo section1 -->
<!-- Start Promo section2 -->
<section id="aa-promo">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-promo-area">
                    <div class="row">
                        <!-- promo left -->
                        <div class="col-md-5">
                            <div class="aa-promo-left">
                                <div class="aa-promo-banner">
                                    <img src="~/Assets/images/HomeImages/pickupleft1.jpg" alt="img">
                                    <!-- <div class="aa-prom-content">
                                      <span>75% Off</span>
                                      <h4><a href="#">For Women</a></h4>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <!-- promo right -->
                        <div class="col-md-7">
                            <div class="aa-promo-right">
                                <div class="aa-single-promo-right">
                                    <div class="aa-promo-banner">
                                        <img src="~/Assets/images/HomeImages/pickupright1.jpg" alt="img">
                                        <!-- <div class="aa-prom-content">
                                          <span>Exclusive Item</span>
                                          <h4><a href="#">For Men</a></h4>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="aa-single-promo-right">
                                    <div class="aa-promo-banner">
                                        <img src="~/Assets/images/HomeImages/pickupright3.jpg" alt="img">
                                        <!-- <div class="aa-prom-content">
                                          <span>Sale Off</span>
                                          <h4><a href="#">On Shoes</a></h4>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="aa-single-promo-right">
                                    <div class="aa-promo-banner">
                                        <img src="~/Assets/images/HomeImages/pickupright3.jpg" alt="img">
                                        <!-- <div class="aa-prom-content">
                                          <span>New Arrivals</span>
                                          <h4><a href="#">For Kids</a></h4>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="aa-single-promo-right">
                                    <div class="aa-promo-banner">
                                        <img src="~/Assets/images/HomeImages/pickupright2.jpg" alt="img">
                                        <!-- <div class="aa-prom-content">
                                          <span>25% Off</span>
                                          <h4><a href="#">For Bags</a></h4>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Promo section2 -->
<!-- Start Promo section3 -->
<section id="aa-promo">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-promo-area">
                    <div class="row">

                        <!-- promo left -->
                        <div class="col-md-7">
                            <div class="aa-promo-right">
                                <div class="aa-single-promo-right">
                                    <div class="aa-promo-banner">
                                        <img src="~/Assets/images/HomeImages/pickup2left1.jpg" alt="img">
                                        <!-- <div class="aa-prom-content">
                                          <span>Exclusive Item</span>
                                          <h4><a href="#">For Men</a></h4>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="aa-single-promo-right">
                                    <div class="aa-promo-banner">
                                        <img src="~/Assets/images/HomeImages/pickup2left2.jpg" alt="img">
                                        <!-- <div class="aa-prom-content">
                                          <span>Sale Off</span>
                                          <h4><a href="#">On Shoes</a></h4>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="aa-single-promo-right">
                                    <div class="aa-promo-banner">
                                        <img src="~/Assets/images/HomeImages/pickup2left2.jpg" alt="img">
                                        <!-- <div class="aa-prom-content">
                                          <span>New Arrivals</span>
                                          <h4><a href="#">For Kids</a></h4>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="aa-single-promo-right">
                                    <div class="aa-promo-banner">
                                        <img src="~/Assets/images/HomeImages/pickup2left3.jpg" alt="img">
                                        <!-- <div class="aa-prom-content">
                                          <span>25% Off</span>
                                          <h4><a href="#">For Bags</a></h4>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- promo right -->
                        <div class="col-md-5">
                            <div class="aa-promo-left">
                                <div class="aa-promo-banner">
                                    <img src="~/Assets/images/HomeImages/pickup2right1.jpg" alt="img">
                                    <!-- <div class="aa-prom-content">
                                      <span>75% Off</span>
                                      <h4><a href="#">For Women</a></h4>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Promo section3 -->
