@using Leder.ViewModels;
@using Newtonsoft.Json;
@model List<ProductViewModel>
@{
    int totalPage = (int)ViewData["totalPage"];
    string dataJson = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
    var photos = Json.Decode(dataJson);
}

<div class="aa-product-catg-body" id="ProductDisplay">
    <ul class="aa-product-catg">
        <div class="row">
            <!-- start single product item -->
            @foreach (var p in Model)
            {
                <li>
                    <figure>
                        <!--當我按下圖片，就會連到路由:ProductDetail/Id-->
                        <a class="aa-product-img" href="@Url.Action("ProductDetail", new { id = @p.Id})">
                            <img src="/Assets/images/@p.Category" style="width:280px" alt="polo shirt img">
                        </a>
                        <a class="aa-add-card-btn" href="#"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                        <figcaption>
                            <h4 class="aa-product-title"><a href="@Url.Action("ProductDetail", new { id = @p.Id})">@p.Name</a></h4>
                            <span class="aa-product-price">NT$@p.Price</span><span class="aa-product-price"></span>
                            <p class="aa-product-descrip">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam accusamus facere iusto, autem soluta amet sapiente ratione inventore nesciunt a, maxime quasi consectetur, rerum illum.</p>
                        </figcaption>
                    </figure>
                    <div class="aa-product-hvr-content">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                        <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#@p.Id"><span class="fa fa-search"></span></a>
                    </div>
                    <!-- product badge右上角的sales標籤 -->
                    <!--<span class="aa-badge aa-sale" href="#">SALE!</span>-->
                </li>
            }

        </div>
    </ul>
    <!-- quick view modal -->
    @foreach (var p in Model)
    {
        @Html.Partial("_QuickViewPartial", p);
    }
    <!-- / quick view modal -->
</div>

<!--用迴圈去計算動態分頁-->
<div class="aa-product-catg-pagination" id="PagenumberDisplay">
    <nav>
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= totalPage; i++)
            {
                <li><span class="PageNumber" aria-hidden="true" id="@i">@i</span></li>
            }

            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>


