@using Leder.ViewModels;

@{ 
    var slidersData = (List<SliderPartialViewModel>)ViewData["SlidersData"];
    var items = slidersData.Where(x => x.Id != 0);
}


<!-- Start slider -->
<section id="aa-slider">
    <div class="aa-slider-area">
        <div id="sequence" class="seq">
            <div class="seq-screen">
                <ul class="seq-canvas">
                    <!-- single slide item -->
                    @foreach (var item in items)
                    {
                        <li>
                            <div class="seq-model">
                                <img class="img-responsive" height="100% - 87px" data-seq src="@item.ADUrl" alt="@item.ADTopic" />
                            </div>
                            <div class="seq-title">
                                <span data-seq style="background-color:transparent;color:#FFFFFF">@item.ADDiscount</span>
                                <h2 data-seq style="background-color: transparent; color: #FFFFFF">@item.ADTopic</h2>
                                <p data-seq style="background-color:transparent;color:#FFFFFF">@item.ADStatement</p>
                                <a data-seq href="@item.ADPageLink" class="aa-shop-now-btn aa-secondary-btn">SHOP NOW</a>
                            </div>
                        </li>
                    }
                    <!-- / single slide item -->                    
                </ul>
            </div>
            <!-- slider navigation btn -->
            <fieldset class="seq-nav" aria-controls="sequence" aria-label="Slider buttons">
                <a type="button" class="seq-prev" aria-label="Previous"><span class="fa fa-angle-left"></span></a>
                <a type="button" class="seq-next" aria-label="Next"><span class="fa fa-angle-right"></span></a>
            </fieldset>
        </div>
    </div>
</section>
<!-- / slider -->
