@model Leder.Models.ChangePasswordViewModel


<h2 style="text-align:center">變更密碼</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <hr />
    <div class="form-group" style="text-align:center">
        @Html.ValidationSummary("", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-xs-4 col-sm-4 col-md-4 control-label" })
        <div class="col-xs-4 col-sm-4 col-md-4">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-xs-4 col-sm-4 col-md-4 control-label" })
        <div class="col-xs-4 col-sm-4 col-md-4">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-xs-4 col-sm-4 col-md-4 control-label" })
        <div class="col-xs-4 col-sm-4 col-md-4">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group" id="PwD">
        <div style="text-align:center">
            <input type="submit" value="變更密碼" class="btn btn-danger" />
        </div>
    </div>
    <div style="text-align:center">
        @Html.ActionLink("回前頁", "Index", null, new { @class = "btn btn-primary" })
    </div>
}
@section Scripts {
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

@section Styles{
    <style>
        #PwD {
            text-align: center;
        }
    </style>
}