@model Leder.Models.UserDetail



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div style="text-align:center">
            <h2>變更會員資料</h2>
            <h4>會員資料</h4>
        </div><hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UserDetailID)
        @Html.HiddenFor(model => model.Email)


        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-xs-4 col-sm-4 col-md-4" })
            <div class="control-label col-xs-4 col-sm-4  col-md-4">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShipAddress, htmlAttributes: new { @class = "control-label col-xs-4 col-sm-4 col-md-4" })
            <div class="col-xs-4 col-sm-4 col-md-4">
                @Html.EditorFor(model => model.ShipAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ShipAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BirthDay, htmlAttributes: new { @class = "control-label col-xs-4 col-sm-4 col-md-4" })
            <div class="col-xs-4 col-sm-4 col-md-4">
                @Html.EditorFor(model => model.BirthDay, new { htmlAttributes = new { @class = "form-control", @id = "BirthDate" } })
                @Html.ValidationMessageFor(model => model.BirthDay, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdentityCard, htmlAttributes: new { @class = "control-label col-xs-4 col-sm-4 col-md-4" })
            <div class="col-xs-4 col-sm-4 col-md-4">
                @Html.EditorFor(model => model.IdentityCard, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IdentityCard, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div style="text-align:center">
                <input type="submit" value="存檔" class="btn btn-danger" />
            </div>
        </div>
    </div>
}
<div style="text-align:center">
        @Html.ActionLink("回前頁", "Index", null, new { @class = "btn btn-primary" })
    </div>

    @section Scripts {
        <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

        <script type="text/javascript" src="/scripts/moment.min.js"></script>
        <script type="text/javascript" src="/scripts/bootstrap-datetimepicker.js"></script>
        <link rel="stylesheet" href="/Content/bootstrap-datetimepicker.css" />

        <script>
            $(document).ready(function () {
                $('#BirthDate').datetimepicker(
                    {
                        format: "YYYY/MM/DD"
                    });

            }
            );
        </script>
    }
