@model Leder.Models.Procurement

@{
    ViewBag.Title = "刪除訂單";
   Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>刪除</h2>

<h3>你確定你要刪除這筆訂單嗎?</h3>
<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrize)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("回到進貨首頁", "Index")
        </div>
    }
</div>
