@using Leder.Models
@model LoginViewModel
@{
    ViewBag.Title = "會員登入";
    
}
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8">
            <p></p>
            <p></p>
            <p></p>
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div style="text-align:center">
                        <h2>@ViewBag.Title</h2>
                        <h4>請輸入帳號密碼</h4>
                    </div>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-xs-2 col-sm-3 col-md-3"></div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-xs-6 col-sm-4 col-md-4">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div><div class="col-xs-4 col-sm-3 col-md-3"></div>
                    </div>

                    <div class="row">
                        <div class="col-xs-2 col-sm-3 col-md-3"></div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-xs-6 col-sm-4 col-md-4">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-3 col-md-3"></div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <div class="col-xs-offset-3 col-sm-offset-4 col-md-offset-5 col-xs-12 col-sm-10 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <div class="col-xs-offset-2 col-sm-offset-3 col-md-offset-5 col-xs-12 col-sm-8 col-md-8">
                                <input style="width:200px" type="submit" value="登入" class="btn btn-default  " id="btn_login" />
                            </div>
                        </div>
                    </div>
                   
                    @* 只要您的密碼重設功能能夠進行帳戶確認，就啟用此項
            <p>
                @Html.ActionLink("忘記密碼?", "ForgotPassword")
            </p>*@
                }
            </section>
            </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
            <h2></h2>



            <hr />
            <section style="text-align:center">
                @Html.ActionLink("註冊新會員登入", "Register", null, new { @class = "btn btn-danger", @style = "width:170px" })
            </section>
        </div>
</div>

@section Scripts {
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
@section Styles{
    <style>
        #btn_login {
            text-align: center;
            color: antiquewhite;
            background-color: rgb(151,0,1);
        }
    </style>
}