@model IEnumerable<Leder.Models.Cart.CartItem>


@{
    ViewBag.Title = "Checkout";
    var userData = (IQueryable<UserDetail>)ViewData["UserData"];
    var currentCart = Leder.Models.Cart.Operation.GetCurrentCart();
}
<!-- Cart view section -->
<section id="checkout">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="checkout-area">
                    <form id="RecieveForm" method="post">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="checkout-left">
                                    <div class="panel-group" id="accordion">
                                        <div class="panel panel-default aa-checkout-billaddress">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                                        收貨人資料
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseFour" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="aa-checkout-single-bill">
                                                                @foreach (var item in userData)
                                                                {
                                                                    <input id="EmailForm" type="email" placeholder="Email Address*" value="@item.Email" readonly>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="aa-checkout-single-bill">
                                                                <input id="NameForm" type="text" placeholder="收貨人姓名*" class="required" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="aa-checkout-single-bill">
                                                                <input id="TelForm" type="text" maxlength="10" minlength="8"
                                                                       onkeyup="this.value=this.value.replace(/\D/g,'')"
                                                                       onafterpaste="this.value=this.value.replace(/\D/g,'')"
                                                                       placeholder="收貨人電話*" class="required" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="aa-checkout-single-bill">

                                                                <input id="ZipForm" type="text" maxlength="5" minlength="3" onkeyup="this.value=this.value.replace(/\D/g,'')"
                                                                       onafterpaste="this.value=this.value.replace(/\D/g,'')"
                                                                       placeholder="郵遞區號*" class="required">
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="aa-checkout-single-bill">
                                                                @foreach (var item in userData)
                                                                {
                                                                    <textarea id="AddressForm" cols="8" rows="2" placeholder="收貨人地址*" class="required">@item.Address</textarea>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>



                            <div class="col-md-4">
                                <div class="checkout-right">
                                    <h4>Order Summary</h4>
                                    <div class="aa-order-summary-area">
                                        <table class="table table-responsive">
                                            <thead>
                                                <tr>
                                                    <th>@Html.DisplayNameFor(m => m.Name)</th>
                                                    <th>@Html.DisplayNameFor(m => m.Amount)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>@Html.DisplayFor(m => item.Name)<strong>  x  @Html.DisplayFor(m => item.Quantity)</strong></td>
                                                        <td>$@Html.DisplayFor(m => item.Amount)</td>
                                                    </tr>
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>總價</th>
                                                    <td id="total">@String.Format(currentCart.TotalAmount.ToString())</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <h4>Payment Method</h4>
                                    <div class="aa-payment-method" id="payment">
                                        <label for="cashdelivery"><input type="radio" id="cashdelivery" name="optionsRadios" value="0"> Cash on Delivery </label>
                                        <label for="paypal"><input type="radio" id="paypal" name="optionsRadios" checked value="1"> Via Paypal </label>
                                        <label></label>
                                        <img src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg" border="0" alt="PayPal Acceptance Mark">
                                        @*<button class="aa-browse-btn" type="submit" id="cashdeliverybutton" name="cashdeliverybutton" formaction='@Url.Action("Order", "ShoppingCart")'>PayPal 付款</button>
                                            <button class="aa-browse-btn" type="submit" id="cashdeliverybutton" name="cashdeliverybutton" formaction='@Url.Action("Index", "ShoppingCart")'>貨到現金付款</button>*@
                                        <button id="paycheck" class="aa-browse-btn" type="button" name="paycheckbutton" formaction="">確認</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Cart view section -->
@section Scripts{
    <script src="~/Assets/js/PaymentMethod.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    

    <script>
        $("#RecieveForm").validate();
        $.extend($.validator.messages, {
            required: "請您輸入完整資料",
            maxlength: $.validator.format("提醒您最多只能輸入 {0} 個字元"),
            minlength: $.validator.format("請您輸入最少 {0} 個字元")
        });
        

    </script>
}