@model IEnumerable<Leder.Models.Product>

@{
    ViewBag.Title = "MyCart";
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";

}

@section topCSS{

}


<!-- Cart view section -->
<section id="cart-view">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cart-view-area">
                    <div class="cart-view-table">
                        <form action="">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>@Html.DisplayNameFor(m=>m.Photo)</th>
                                            <th>@Html.DisplayNameFor(m => m.Name)</th>
                                            <th>@Html.DisplayNameFor(m => m.Price)</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var i in Model)
                                        {
                                            <tr>
                                                <td><a class="remove" href="#"><fa class="fa fa-close"></fa></a></td>
                                                <td><a href="#"><img src="~/Assets/images/ProductImages/@Html.DisplayFor(m=>i.Category)/@Html.DisplayFor(m=>i.Photo)" alt="img"></a></td>
                                                <td><a class="aa-cart-title" href="#">@Html.DisplayFor(m => i.Name)</a></td>
                                                <td>@Html.DisplayFor(m => i.Price)</td>
                                                <td><input id="quantity" class="aa-cart-quantity" type="number" value="1"></td>
                                                <td>@Html.DisplayFor(m => i.Price)</td>
                                            </tr>
                                        }
                                        <tr>
                                            <td colspan="6" class="aa-cart-view-bottom">
                                                <input class="aa-cart-view-btn" type="submit" value="Update Cart">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                        <!-- Cart Total view -->
                        <div class="cart-view-total">
                            <h4>Cart Totals</h4>
                            <table class="aa-totals-table">
                                <tbody>
                                    <tr>
                                        <th>Subtotal</th>
                                        <td>$450</td>
                                    </tr>
                                    <tr>
                                        <th>Total</th>
                                        <td>$450</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="#" class="aa-cart-view-btn">Proced to Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Cart view section -->
