@model IEnumerable<Leder.Models.Cart.CartItem>

@{
    ViewBag.Title = "MyCart";

    var currentCart = Leder.Models.Cart.Operation.GetCurrentCart();
}
<!-- Cart view section -->
<section id="cart-view">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cart-view-area">
                    <div class="cart-view-table">
                        @if (currentCart.Count > 0)
                        {
                            <form action="">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>@Html.DisplayNameFor(m => m.Photo)</th>
                                                <th>@Html.DisplayNameFor(m => m.Name)</th>
                                                <th>@Html.DisplayNameFor(m => m.Price)</th>
                                                <th>@Html.DisplayNameFor(m => m.Quantity)</th>
                                                <th>@Html.DisplayNameFor(m => m.Amount)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var i in Model)
                                            {
                                                <tr>
                                                    <td><a class="remove" onclick="RemoveFromCart('@Html.DisplayFor(m => i.Id)')"><fa class="fa fa-close"></fa></a></td>
                                                    <td><a href="#"><img src="~/Assets/images/HomeImages/@Html.DisplayFor(m => i.Photo)" alt="img"></a></td>
                                                    <td><a class="aa-cart-title" href="#">@Html.DisplayFor(m => i.Name)</a></td>
                                                    <td>@Html.DisplayFor(m => i.Price)</td>
                                                    <td><input id="quantity" class="aa-cart-quantity" type="number" value="@Html.DisplayFor(m => i.Quantity)"></td>
                                                    <td>@Html.DisplayFor(m => i.Amount)</td>
                                                </tr>
                                            }
                                            <tr>
                                                <td colspan="6" class="aa-cart-view-bottom">
                                                    <input id="Update" class="aa-cart-view-btn" type="submit" value="Update Cart">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                            <!-- Cart Total view -->
                            <div class="cart-view-total">
                                <h4>Cart Totals</h4>
                                <table class="aa-totals-table">
                                    <tbody>
                                        <tr>
                                            <th>Total</th>
                                            <td>$ @String.Format("{0}", currentCart.TotalAmount)</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="~/Checkout" class="aa-cart-view-btn">Proced to Checkout</a>
                            </div>
                        }
                        else
                        {
                            <form action="">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>還沒找到喜歡的包包嗎?</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </form>
                            <div class="cart-view-total">
                                <table class="aa-totals-table">
                                    <tbody>
                                        <tr>
                                            <td><a class="aa-cart-view-btn" href="~/Products1/Index">前往購物頁面</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section endJs{
    <script>
        $("#Update").click(function () {
            
            

        })
    </script>
}
<!-- / Cart view section -->
