@model Leder.ViewModels.PromoteProductViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PromoteProductViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Section)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Section)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountWord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountWord)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Statement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Statement)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
